<header>
    <div class="navbar navbar-dark bg-dark py-0">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center py-0">
              <img src="http://etechevents.com/wp-content/uploads/2017/11/cropped-etech-white-logo-1.png" style="width: 200px; height: auto">
        </a>
            <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </div>
</header>