<div class="container">
    
    {{!--Breadcrumbs--}}
    {{> breadcrumbs breadcrumbs='[{"text": "Home", "link": "\/"}]'}}
    
    {{> page_title}}
    
    <ul>
        <li>
            <a href="/admin/viewers">
                Viewers Administration
            </a>
        </li>
    </ul>

</div>
{{!--/.container--}}