<div class="container">
    
    {{!--Breadcrumbs--}}
    {{> breadcrumbs breadcrumbs='[{"text": "Home", "link": "\/"},{"text": "Admin", "link": "\/admin"},{"text":"Users","link":"\/admin\/Users"}]'}}
    
    {{> page_title}}
    
    <form method="POST" action="">
        <p>
            Do you want to delete the User named {{User.display_name}}?
        </p>
        <div class="form-group">
            <input type="hidden" name="Userid" required="true" value="{{User._id}}" />
        </div>
        <button class="btn btn-danger" type="submit">Delete</button> <a href="/Users/" class="btn btn-secondary">Cancel</a>
    </form>
    {{!--/form--}}
</div>
{{!--/.container--}}