<div class="container">

    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
    <a href="/">
        <i class="fas fa-arrow-left"></i>&nbsp; Return to Home
    </a>

</div>
{{!--/.container--}}


