<div class="container">

    {{> page_title}}
    <pre>{{error.stack}}</pre>
    <a href="/">
        <i class="fas fa-arrow-left"></i>&nbsp; Return to Home Page
    </a>

</div>
{{!--/.container--}}


