<div class="container">

    {{!--Breadcrumbs--}}
    {{> breadcrumbs breadcrumbs='[]'}}
    
    {{> page_title}}
    
    <p>
        Click one of the links below
    </p>
    
    <ul>
        <li>
            <a href="/admin">
                Administration Home
            </a>
        </li>
        <li>
            <a href="/client">
                Client Home
            </a>
        </li>
    </ul>

</div>
{{!--/.container--}}
